src/main/resources/wsdl/TimeService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://endpoint.ws/" xmlns:tns="http://endpoint.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="currentTime" type="tns:currentTime"/>

  <xs:element name="currentTimeResponse" type="tns:currentTimeResponse"/>

  <xs:complexType name="currentTime">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="currentTimeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

